{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <h1>Create Post</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ form.title.id_for_label }}">Title</label>
        {{ form.title }}
      </div>
      <div class="form-group">
        <label for="{{ form.content.id_for_label }}">Content</label>
        {{ form.content }}
      </div>
      <div class="form-group">
        <label for="{{ form.category.id_for_label }}">Category</label>
        {{ form.category }}
      </div>
      <div class="form-group">
        <label for="{{ form.tags.id_for_label }}">Tags</label>
        {{ form.tags }}
      </div>
      <div class="form-group">
        <label for="{{ image_form.file_path.id_for_label }}">Image</label>
        {{ image_form.file_path }}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}
