<!-- base.html -->
<!DOCTYPE html>
<html>

  <head>
    <title>My Blog</title>
  </head>

  <body>
    <header>
      <!-- 네비게이션 바 또는 로고 등의 내용 -->
      <a href="/">홈</a>
      {% if user.is_authenticated %}
        <p>
          Welcome,
          {{ user.email }}</p>
        <a href="{% url 'user:logout' %}">로그아웃</a>
      {% else %}
        <a href="{% url 'user:login' %}">로그인</a>
        <a href="{% url 'user:register' %}">회원가입</a>
      {% endif %}

    </header>

    <main>
      {% block content %}
        <!-- 하위 템플릿에서 채워질 내용 -->
      {% endblock %}
    </main>

    <footer>
      <!-- 푸터 내용 -->
    </footer>
  </body>

</html>
