<!DOCTYPE html>
<html>
  {% load static %}

  <head>
    <title>My Blog</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d9652f9e31.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">Teamblog</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Category
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for category in categories %}
                    <li>
                      <a class="dropdown-item" href="{% url 'blog:search_by_category' category.id %}">{{ category.name }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <form class="d-flex" method="get" action="{% url 'blog:search_post' %}">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </li>
            </ul>
            <ul class="navbar-nav">
              {% if user.is_authenticated %}
                <li class="nav-item">
                  <img src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}{% static 'img/user_placeholder.png' %}{% endif %}" alt="User Profile img" class="img-fluid rounded-circle border border-gray" style="width: 40px; height: 40px; object-fit: cover;">
                </li>
                <li class="nav-item dropdown ms-1">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{ user.email }}
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="{% url 'user:logout' %}">Logout</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{% url 'user:profile_update' %}">프로필수정</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </li>
              {% else %}
                <li>
                  <a class="nav-link active" aria-current="page" href="{% url 'user:login' %}">Login</a>
                </li>
                <li>
                  <a class="nav-link active" aria-current="page" href="{% url 'user:register' %}">회원가입</a>
                </li>
              {% endif %}

            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="container mt-4">
      {% block content %}
        <!-- Default content if not overridden by child templates -->
      {% endblock %}
    </main>

    <footer class="bg-light p-3 mt-4 text-center">
      <!-- Footer content -->
      <p>&copy; 2023 My Blog. All rights reserved.</p>
    </footer>

    <!-- Add Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>

</html>
